@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-poppins: 'Poppins', sans-serif;
  }

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Ensures the custom font is the default for the whole document */
    font-family: var(--font-poppins); 
  }
}